 
body {
  background-image: url("../public/movie3.jpg");
  background-size: contain;
  border: 2px solid;
  color: #f6bd60;
  resize: both;
  overflow: scroll;
}
.container {
  justify-content: space-evenly;
}
.nav {
  background-color: #d62828;
  text-shadow: #b1a7a6;
  
}
div {
  color: #000814;
}
h2 {
  
}