 
body {
  background-image: url("../public/movie3.jpg");
  overflow: scroll;
  background-size: 2000px;
  border: 2px solid;
  color: #f6bd60;
  resize: both;
}
.container {
  justify-content: space-evenly;
}

.nav {
  display: flex;
  justify-content: left;
  gap: 1rem;
  background-color: #d90429;
  font-size: 20px;
  color:#ffba08;
  text-shadow: 3px black;
  font-family:'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
  margin: 2px;
}

h1 {
  font-size: 80px;
  color:#ffba08;
  font-weight: 1400;
  text-shadow: 3px black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  background-color: #ffba08;
  justify-items: center;
  size: 30px;
}
div {
  color: #000814;
}
h2 {
  font-size: 60px;
  text-align: center;
  color: #d90429;
  background-color: #edede9;
  margin-bottom: 20px;
}
.columns {
  display: flexbox;
  align-items: stretch;
  gap: 2em;
}
.img {
  size: small;
}